@import "../node_modules/bootstrap/scss/bootstrap";

.App{
  background-color: rgb(197, 250, 253);
  height: 100vh;
}

.topbar{
  background-color: rgb(158, 244, 253);
  margin-bottom: 3rem;
  border: black;
  height: 9vh;
}

.staff-link{
  float: left;
  color: #2946ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar-toggler-icon {
  background: #deb778;
  filter: invert(100%);
  border-radius: 50%;
}

.navbar-light .navbar-toggler {
  color: transparent;
  border-color: transparent;
}

.navbar-toggler span {
  padding:7px;
}


.menu{
  height: 80vh;
  overflow-y: scroll;
}
.order-box {
  background-color: rgb(254, 254, 254);
  max-height: 80vh;
  overflow-y: scroll;
}


.additem-button-txt{
  
}

a:link {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  font-size: 22px;
  background: #daecf8;
  padding: 11px 20px 10px 10px;
  text-decoration: none;
}

input {
  width: 100%;
  height: 100px;
  padding: 20px;
  font-size: 20px;
  border: none;
  box-sizing: border-box;
}

/*
  Theme: numeric
*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196f3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.draggableTable {
  background-color: lightgrey;
  margin: auto;
  width: 70px;
  height: 70px;
  position: absolute;
  padding: 50px;
}

div.ex1 {
  width: 500px;
  height: 600px;
  overflow: scroll;
}

