@import "../node_modules/bootstrap/scss/bootstrap";

.App {
  background-color: rgb(173, 240, 253);
  height: 100vh;
}

.header {
  color: #070707;
}

.topbar {
  background-color: rgb(158, 244, 253);
  margin-bottom: 1rem;
  border: black;
  height: 9vh;
}

.staff-link {
  float: left;
  color: #2946ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar-toggler-icon {
  background: #deb778;
  filter: invert(100%);
  border-radius: 50%;
}

.navbar-light .navbar-toggler {
  color: transparent;
  border-color: transparent;
}

.navbar-toggler span {
  padding: 7px;
}

.menu {
  height: 80vh;
  overflow-y: scroll;
}
.order-box {
  background-color: rgb(254, 254, 254);
  max-height: 80vh;
  overflow-y: scroll;
}

.additem-button-txt {
}

a:link {
  text-decoration: none;
  margin-right: 10px;
}

input {
  width: 100%;
  height: 100px;
  padding: 20px;
  font-size: 20px;
  border: none;
  box-sizing: border-box;
}

/*
  Theme: numeric
*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  transform: absolute(-50%, -50%);
}
.grid-items-button {
  display: grid;
  background-color: #008cba; /* Green */

  // border: 2px solid blue2px solid rgba(43, 43, 231, 0.488);
  color: white;
  // padding: 16px 32px;
  grid-template-columns: 30px 30px 30px;
  height: 100px;
  grid-template-rows: auto;
  justify-items: center;

  // text-decoration: none;
  // display: inline-block;
  // font-size: smaller;
}
.grid-items {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  justify-items: center;
}
.draggableTable {
  background-color: rgb(101, 87, 255);
  color: white;
  text-align: center;
  margin: auto;
  width: 180px;
  height: 130px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
}
.dragContainer {
  height: 700px;
  width: 1000px;
  background-color: rgb(0, 87, 128);
  position: absolute;
}

div.ex1 {
  width: 500px;
  height: 600px;
  overflow: scroll;
}

.card-button {
  background-image: linear-gradient(-180deg, #37aee2 0%, #1e96c8 100%);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 100%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.card-button {
  background-image: linear-gradient(-180deg, #1d95c9 0%, #17759c 100%);
}

@media (min-width: 768px) {
  .card-button {
    padding: 1rem 2rem;
  }
}

button {
  background-color: linear-gradient(#d2d9db, #b9b9bf);
  border: 0;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 3px 7px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 0.9em;
  margin: 10px;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-btn-light {
  border-radius: 10px;
}

.btn-btn-light:hover {
  color: black;
  background-color: rgba(188, 188, 188, 0.99);
  border-color: black;
}

.pay-button {
  // border-radius: 5px;
  // height: 50px;
  // width: 50px;
  // text-align: center;
  // margin-left: 45%;
  // margin-top: 3px;
}

.pay-button:hover {
  color: black;
  background-color: rgba(188, 188, 188, 0.99);
  border-color: black;
}

.popUp {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.popUpContent {
  text-align: center;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
}
